<mat-card class="plan-card" (click)="onPlanClick()">
  <mat-card-title>{{ plan.name }}</mat-card-title>
  <mat-card-content>
    <p>
      {{
        'mat-card-content mat-card-content mat-card-content mat-card-content mat-card-content mat-card-content mat-card-content mat-card-content mat-card-content mat-card-content mat-card-content mat-card-content mat-card-content mat-card-content mat-card-content mat-card-content mat-card-content mat-card-content mat-card-content mat-card-content mat-card-content mat-card-content mat-card-content mat-card-content mat-card-content mat-card-content mat-card-content mat-card-content mat-card-content mat-card-content mat-card-content mat-card-content '
      }}
    </p>
  </mat-card-content>
</mat-card>
