.title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 2px;
  margin-bottom: 16px;
}

.name {
  font-weight: bold;
  text-align: center;
  font-size: 1.3rem;
  margin-top: 2px;
  margin-bottom: 4px;
}

p {
  margin: 8px 0;
}
