<mat-toolbar color="primary" class="toolbar">
  <span class="app-title" routerLink="/app/plans/list">Workify</span>

  <span class="spacer"></span>

  <a mat-button routerLink="/app/plans/list">
    <mat-icon>calendar_month</mat-icon>
    <span class="link-text">Plans</span>
  </a>

  <a mat-button routerLink="/app/settings">
    <mat-icon>settings</mat-icon>
    <span class="link-text">Settings</span>
  </a>

  <a mat-button routerLink="/auth/login" (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span class="link-text">Logout</span>
  </a>
</mat-toolbar>
