<mat-card class="card">
  <mat-card-title class="title">Register</mat-card-title>
  <mat-card-content>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Login</mat-label>
        <input matInput formControlName="login" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required />
      </mat-form-field>

      <button mat-fab color="primary" class="full-width" type="submit">
        <mat-icon class="icon">group_add</mat-icon>Register
      </button>
    </form>

    <button mat-stroked-button color="primary" class="full-width top-button-margin" (click)="btnLoginClick()">
      <mat-icon class="icon">login</mat-icon>Login
    </button>
  </mat-card-content>
</mat-card>
