<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ plan ? 'Edit Plan' : 'Create Plan' }}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" rows="2"></textarea>
      </mat-form-field>

      <ng-select
        class="custom"
        [multiple]="true"
        [items]="exercises"
        bindLabel="name"
        formControlName="exercises"
        [searchFn]="customSearchFn">
        <ng-template ng-option-tmp let-item="item">
          {{ item.name }} <small class="smaller">({{ getBodyPartAsString(item) }})</small>
        </ng-template>
      </ng-select>

      <div class="button-row">
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
          {{ plan ? 'Update' : 'Create' }}
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
