<app-info-table [title]="'Exercise preview'" [name]="exercise.name" [data]="tableData"></app-info-table>

<div class="button-center">
  <span [title]="disabledBtnText">
    <button mat-fab extended (click)="editExercise()" [disabled]="!exercise.isCustom">
      <mat-icon>edit</mat-icon>
      Edit exercise
    </button></span
  >

  <button mat-stroked-button color="secondary" (click)="goBack()" class="back-button">
    <mat-icon>arrow_back</mat-icon>
    Back
  </button>

  <span [title]="disabledBtnText">
    <button
      mat-fab
      [ngClass]="exercise.isCustom ? 'warning' : ''"
      extended
      (click)="deleteExercise()"
      [disabled]="!exercise.isCustom">
      <mat-icon>delete</mat-icon>
      Delete exercise
    </button></span
  >
</div>

<app-list title="Stats" (fabClicked)="addStat()">
  @for(stat of stats; track stat.id){
  <app-stat-card [stat]="stat"></app-stat-card>
  }
</app-list>
