:host {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 2px;
  margin-bottom: 4px;
}

h4 {
  text-align: center;
  margin: 0;
  margin-top: 8px;
}

.button-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  margin: 20px 0;
}
