:host {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 0;
}

.exercise-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
  padding: 2px;
  position: relative;
}

.exercise-list {
  flex: 1 1 auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 2px;
  margin-bottom: 6px;
  color: white;
}

.fab-button {
  position: absolute;
  bottom: 32px;
  right: 32px;
}
