html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #282d3f;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow: hidden;
}

app-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  width: 100%;
}
