<mat-card class="card">
  <mat-card-title class="title">Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="logIn()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Login</mat-label>
        <input matInput name="username" formControlName="login" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput name="password" type="password" formControlName="password" required />
      </mat-form-field>

      <button mat-fab extended class="full-width" type="submit"><mat-icon class="icon">login</mat-icon>Login</button>
    </form>

    <button mat-stroked-button color="primary" class="full-width top-button-margin" (click)="btnRegisterClick()">
      <mat-icon class="icon">group_add</mat-icon>Register
    </button>
  </mat-card-content>
</mat-card>
