<app-info-table [title]="'Plan preview'" [name]="plan.name" [data]="tableData"></app-info-table>

<div class="button-center">
  <button mat-fab extended (click)="editPlan()">
    <mat-icon>edit</mat-icon>
    Edit plan
  </button>

  <button mat-stroked-button color="secondary" (click)="goBack()" class="back-button">
    <mat-icon>arrow_back</mat-icon>
    Back
  </button>

  <button mat-fab class="warning" extended (click)="deletePlan()">
    <mat-icon>delete</mat-icon>
    Delete plan
  </button>
</div>

<app-list [title]="'Assigned exercises'" [fabHidden]="true">
  @for(exercise of exercises; track exercise.id){
  <app-exercise-card [exercise]="exercise"> </app-exercise-card>
  }
</app-list>
