<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ exercise ? 'Edit exercise' : 'Create exercise' }}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Body part</mat-label>
        <mat-select formControlName="bodyPart">
          @for(kvBodyPart of kvBodyParts; track kvBodyPart[0]){
          <mat-option [value]="kvBodyPart[1]">
            {{ kvBodyPart[0] }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" rows="2"></textarea>
      </mat-form-field>

      <div class="button-row">
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
          {{ exercise ? 'Update' : 'Create' }}
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
